<%- include ('partials/header') %>

<div class="container">
	<header class="jumbotron my-5">
		<div class="container">
			<h1>Welcome to Kamps</h1>
			<p>The best camps in the world at your fingertips</p>
			<a href="/camps/new" class="btn btn-primary btn-large">Add new camp</a>
		</div>
	</header>

	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% camps.forEach(function(camp){ %>

		<div class="col-md-3 col-sm-6">
			<div>
				<img src="<%= camp.image %>" class="img-thumbnail" />
				<div class="caption">
					<h4><%= camp.name%></h4>
				</div>
			</div>
		</div>

		<% }); %>
	</div>
</div>

<%- include ('partials/footer') %>
